<div 
  class="tl-post" 
  [ngClass]="{ 
    'state-footer-expanded' : flagFooterExpanded,
    'state-post-reply-expanded'  : flagReplyExpanded
  }"
>
  <div class="tl-post-header">
    <div class="tl-post-author">

      <div class="tl-post-avatar">
        <img [src]="post.author.avatar" alt="{{ post.author.nickname }}'s profile picture">
      </div>
      <span [ngClass]="['tl-post-emotion', 'emote-' + post.emote]"></span>
      
    </div>
    <div class="tl-post-details">
      <span>{{ post.age }}</span>
    </div>
  </div>

  <div class="tl-post-content">
    {{ post.text }}
  </div>
  
  <div class="tl-post-footer">
    <div class="separator"></div>
    <ul>
      <li>
        <app-tl-like-button></app-tl-like-button>
      </li>
      <li>
        <app-tl-dislike-button></app-tl-dislike-button>
      </li>
      <li>
        <button class="btn btn-sm" (click)="flagReplyExpanded = !flagReplyExpanded">
          <span class="material-symbols-outlined">reply</span> <ng-content></ng-content>
        </button>
      </li>
      <li>
        <app-tl-repost-button></app-tl-repost-button>
      </li>
      <li>
        <app-tl-report-button></app-tl-report-button>
      </li>
      <li>
        <a href="/posts/post.html?id=12345" title="Permalink to this post">
          <span class="material-symbols-outlined link-icon">link</span>
        </a>
      </li>
    </ul>

    <button class="expander" (click)="flagFooterExpanded = !flagFooterExpanded">
      <span class="material-symbols-outlined">add</span>
      <span class="material-symbols-outlined">remove</span>
    </button>
  </div>
  <div class="tl-post-info">
    <p>
      <span>State:</span>
      <span>published.</span>
    </p>
    <p>
      <span>Submitted:</span>
      <span>2023-12-11 12:13:14</span>
    </p>
    <p>
      <span>Published:</span>
      <span>2023-12-11 12:13:14</span>
    </p>
    <p>
      <span>Likes/Dislikes:</span>
      <span>123 / 8 - 15:1 ratio.</span>
    </p>
    <p>
      <span>Word Count:</span>
      <span>134 characters, 12 words.</span>
    </p>
    <p>
      <span>Hashtags:</span>
      <span>none.</span>
    </p>
    <p>
      <span>Media:</span>
      <span>none.</span>
    </p>
    <p>
      <span>Is AI Generated?</span>
      <span>no.</span>
    </p>
    <p>
      <span>AI Tags:</span>
      <span class="tag">#self</span>
      <span class="tag">#post</span>
      <span class="tag">#socialmedia</span>
    </p>
    <p>
      <span>AI Colors:</span>
      <span class="tag color-tag" style="background-color: #111111; color: #fff">#11111</span>
    </p>
    <p class="multi-row">
      <span>AI Analysis:</span>
      <span>This post taks about itself. It has a reference
        to "Hello World", a common trope in computer programming. 
        It can be slightly funny.
      </span>
    </p>
    <p class="buttons">
      <button type="button" title="Delete post" class="btn btn-sm with-label btn-danger">
        <span class="material-symbols-outlined">delete</span>
        <div>Delete Post</div>
      </button>
    </p>
    <div class="tl-post-confirm" style="display: none;">
      <p class="txt-shadow-dark">
        Confirm doing this?
      </p>
      <p>
        <button type="button" title="Delete post" class="with-label warning">
          <span class="material-symbols-outlined">cancel</span>
          <div>No</div>
        </button>
        &nbsp;
        <button type="button" title="Delete post" class="with-label">
          <span class="material-symbols-outlined">check</span>
          <div>Yes</div>
        </button>
      </p>
    </div>
  </div>
  
</div>
<div class="tl-post-reply">

  <div class="persons-face">
    
    <img [src]="post.author.avatar" [alt]="post.author.nickname">

  </div>

  <div class="post-emote">
    <ul class="post-emotions">
      <li>
        <button class="selected emote-neutral-face" title="Emotion neutral face"></button>
      </li>
      <li>
        <button class="emote-slightly-smiling-face" title="Emotion slightly smiling face"></button>
      </li>
      <li>
        <button class="emote-grinning-face-with-smiling-eyes" title="Emotion grinning face with smiling eyes"></button>
      </li>
      <li>
        <button class="emote-smiling-face-with-hearts" title="Emotion smiling face with hearts"></button>
      </li>
      <li>
        <button class="op-50 op-hover-100" title="Expand emotion list">
          +
        </button>
      </li>
    </ul>
  </div>

  <form class="no-style">
    <fieldset>
      <legend>
        <div>Reply to 
          <span>{{ '@' + post.author.username }}</span>
        </div>
      </legend>
      <div class="input-row">
        
        <textarea cols="30" rows="5"></textarea>

      </div>
      <div class="buttons">

        <button type="button" class="btn with-label btn-warning" title="Cancel post" (click)="flagReplyExpanded = false">
          <span class="material-symbols-outlined" style="margin-right: -4px;">cancel</span>
        </button>
        
        <button type="submit" class="btn with-label btn-primary" title="Submit post">
          <div>Post</div>
          <span class="material-symbols-outlined">send</span>
        </button>

      </div>
    </fieldset>

  </form>
</div>