<div class="page-container page-login-subscribe">

  <div class="page">

    <div class="page-content">

      <form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
        <fieldset [disabled]="isSubmitting">
          <legend>Login</legend>

          <div>
            
            <label>
              <span>Username:</span>
              <input
                formControlName="username"
                class="form-control form-control-lg"
                type="text"
              />
            </label>
          </div>
          <!--div class="form-group"-->
          <div>
            <label>
              <span>Password:</span>
              <input
                formControlName="password"
                class="form-control form-control-lg"
                type="password"
              />
            </label>
          </div>

          <div>
              <button
              class="btn btn-lg btn-primary"
              [disabled]="!loginForm.valid"
              type="submit"
            >
              Login
            </button>
          </div>

        </fieldset>

      </form>

    </div>
  </div>
  
  <div class="page">

    <div class="page-content">

      <form action="">

        <fieldset>
          <legend>Create an Account</legend>
  
          <div>
            <label>
  
              <span>Username:</span>
              <input type="text">
  
            </label>
          </div>
          
          <div>
            <label>
  
              <span>Password:</span>
              <input type="password">
  
            </label>
          </div>
          
          <div>
            <label>
  
              <span>Confirm Password:</span>
              <input type="password">
  
            </label>
          </div>
          
          <div>
  
            <button type="button" class="btn btn-primary">Create Account</button>
  
          </div>
  
        </fieldset>

      </form>

    </div>
  </div>
</div>