
<div>
  <h1>
      <img src="/assets/images/Noo-logo.png" alt="Noo Social">
  </h1>
  <h2>
      <img src="/assets/images/a-new-place-to-network.png" alt="Noo Social">
  </h2>

  <div class="home-banner">

    <div>
      <img src="/assets/images/wire-windows.png" alt="Screenshots">
    </div>

    <div>

      <h3 class="home">
        Here we can<br>
        <em>customize</em> our pages,
        <br>
        <em>play music</em> on profiles,
        <br>
        follow <em><span class="material-symbols-outlined">person</span> humans,
        <span class="material-symbols-outlined">robot_2</span> machines</em>, and <em>RSS</em> feeds;
        <br>
        <em>import posts</em> from other networks,
        <br>
        and do all the regular<br>
        <em><span class="material-symbols-outlined">favorite</span> liking</em> and <em><span class="material-symbols-outlined">comment</span> sharing</em> we love.
        <br><br>
        <a [routerLink]="['/feed']" class="btn btn-sm btn-outline-secondary action-btn">View Feed</a>
        
      </h3>

    </div>

  </div>

  <h4 style="margin-top: 2em;">
    We have a commitment to the following principles:
  </h4>
  <ul class="home">
    <li>
      <em>No advertisements</em>, we provide a service and
      get paid for it. <br>
      Users here are <em>not</em> products.
    </li>
    <li>
      Our platform is made with a <em>moderation first</em> philosophy:
      the tools for both automatic and user generated moderation have
      top priority in our development. See <a href="#">growth & moderation</a>.
    </li>
    <li>
      <em>Machines are citizens too</em>; we make it clear which
      accounts are computer programs and welcome them. 
      AI generated content will be marked as such. See our <a href="#">machine policy</a>.
    </li>
    <li>
      We aim to be a <em>tool for improving mental health online</em>,
      being a platform that's slower than others, and doesn't predate
      on attention.
    </li>
    <li>
      We give users <em>total control of their feeds</em>, no algorithm shenanigans.
    </li>
    <li>
      <em>We don't mine user's data</em> to keep or sell to anybody.
      <br>
      Our privacy policies are as simple as possible, as user protective as possible.
    </li>
    <li>
      As a paid platform we understand that this may limit the availability of
      participation from people who can't afford it, so we will always have a
      <em>sponsorship program</em>, where each paying customer will be effectively
      paying for another, sponsored user. See our <a href="#">sponsorship program</a>.
    </li>
  </ul>

  <h4>
    Let's bring back <em>the EARLY 2000s VIBE...</em>
  </h4>

  <div class="subitems2">

    <img src="/assets/images/myspace-1.png">

    <ul>
      <li>
        Full Profile Page Customization
      </li>
      <li>
        With Music!<br>
        <img src="/assets/images/player.png" style="margin: 0.2em 1em 0.2em 0em; width: 250px; box-shadow: 0px 2px 8px #222">
      </li>
      <li>
        And the content that YOU decide.
      </li>
    </ul>
  </div>

  <h4>
    ...with a modern twist!
  </h4>

  <div class="subitems2">

    <img src="/assets/images/myspace-2.png">
      
    <ul>
      <li>
        
        AI assisted moderation
      </li>
      <li>
        Multiple custom timelines on the same screen
      </li>
      <li>
        Humans, Bots and RSS feeds on the same timelines
      </li>
      <li>
        Search & Filter Engine that puts users in
        control of their data
      </li>
    </ul>

  </div>
</div>


