.noo-progress {
  position: relative;
  height: 5px;
  margin-bottom: -5px;
  width: 1110%;
  border: 2px solid var(--gray4);
  border-radius: 10px;
  overflow: hidden;
}

.noo-progress .color {
  position: relative;
  background-color: var(--gray4);
  width: 0px;
  height: 10px;
  border-radius: 0px;
  animation: progres 2s infinite linear;    
}

@keyframes progres{
  0%{
    width: 0%;
  }
  25%{
      width: 50%;
  }
  40%{
      width: 80%;
  }
  100%{
      width: 100%;
  }
}


