

.timelines {

  display: flex;
  
  justify-content: center;

  width: 100%;
  height: 100%;
}

.timelines > [class] {

  display: flex;  /**/
}

.timelines .noo-progress {
  margin-top: 2em;
  max-width: 100px;
}

.timeline {

  display: flex;
  flex-direction: column;
  padding: 0px;
  height: 100%;

  width: 100%;
  max-width: 420px;

  flex: 1 1 0px;
  background-color: var(--timeline-bg);
  overflow: hidden;
  
  border-right-width:1px;
  border-right-style:solid;
  border-right-color:var(--timeline-border-color);
  
  border-left-width:1px;
  border-left-style:solid;
  border-left-color:var(--timeline-border-color);

  border-top-width:1px;
  border-top-style:solid;
  border-top-color:var(--timeline-border-color);

  box-shadow: 0px 40px 22px rgba(0,0,0,0.3);
  transition: 0.2s cubic-bezier(.35,.31,.25,1) flex, 0.1s linear color;
}


.state-hidden-tl-1 .tl-1, 
.state-hidden-tl-2 .tl-2, 
.state-hidden-tl-3 .tl-3, 
.state-hidden-tl-4 .tl-4, 
.state-hidden-tl-5 .tl-5, 
.state-hidden-tl-6 .tl-6, 
.state-hidden-tl-7 .tl-7, 
.state-hidden-tl-8 .tl-8, 
.state-hidden-tl-9 .tl-9 { display: none; }

.state-hidden-tl-1 .tl-1 .hidden-icon,
.state-hidden-tl-2 .tl-2 .hidden-icon,
.state-hidden-tl-3 .tl-3 .hidden-icon,
.state-hidden-tl-4 .tl-4 .hidden-icon,
.state-hidden-tl-5 .tl-5 .hidden-icon,
.state-hidden-tl-6 .tl-6 .hidden-icon,
.state-hidden-tl-7 .tl-7 .hidden-icon,
.state-hidden-tl-8 .tl-8 .hidden-icon,
.state-hidden-tl-9 .tl-9 .hidden-icon  { display: block; }


.state-hidden-tl-1 .tl-1 .visible-icon,
.state-hidden-tl-2 .tl-2 .visible-icon,
.state-hidden-tl-3 .tl-3 .visible-icon,
.state-hidden-tl-4 .tl-4 .visible-icon,
.state-hidden-tl-5 .tl-5 .visible-icon,
.state-hidden-tl-6 .tl-6 .visible-icon,
.state-hidden-tl-7 .tl-7 .visible-icon,
.state-hidden-tl-8 .tl-8 .visible-icon,
.state-hidden-tl-9 .tl-9 .visible-icon   { display: none; }



.timelines > [class] {
  width: 100%;
  align-items: center;
  justify-content: center;
}

/* one item */
.timelines > [class]:first-child:nth-last-child(1) {
/* -or- li:only-child { */
    flex: 0 0 100%;
    max-width: 420px;
}

/* two items */
.timelines > [class]:first-child:nth-last-child(2),
.timelines > [class]:first-child:nth-last-child(2) ~ [class] {
  flex: 0 0 48%;
  margin-right: 1%;
}

/* three items */
.timelines > [class]:first-child:nth-last-child(3),
.timelines > [class]:first-child:nth-last-child(3) ~ [class] {
  flex: 0 0 32%;
  margin-right: 1%;
}

/* four items */
.timelines > [class]:first-child:nth-last-child(4),
.timelines > [class]:first-child:nth-last-child(4) ~ [class] {
  flex: 0 0 24%;
  margin-right: 1%;
}

/* five items */
.timelines > [class]:first-child:nth-last-child(5),
.timelines > [class]:first-child:nth-last-child(5) ~ [class] {
  flex: 0 0 19%;
  margin-right: 1%;
}
  
  .tl-settings {
    
    padding: 0.4em 0.2em;
    max-height: 0;
    height: 0;
    
    overflow: hidden;

    margin-bottom: -1.25em;

    opacity: 0;
    
    transition: 0.2s ease-out height, 
                0.2s ease-out max-height,
                0.1s linear margin-bottom, 
                0.1s linear opacity;
  }

  .state-settings-visible  .tl-settings {

    margin-bottom: 0em;
    max-height: 88em;
    height: 88em;

    opacity: 1;
    
    transition: 0.3s ease-in max-height, 
    0.1s linear margin-bottom, 
                0.1s linear opacity;
  }

  .tl-settings h3 {
    text-align: center;
    font-size: 0.9em;
  }

  .tl-settings form {
    
    display: flex;
    width: 100%;
  }

  .tl-settings form > div {
    
    display: flex;
    width: 100%;
  }

  .tl-settings form > div fieldset {
    
    width: 50%;
    margin: 0.2em;
  }

  .tl-settings form > div fieldset legend {

    margin: 0;

    font-size: 14px;
    color: var(--white2);
    padding: 0.2em 0.8em;
    width: 100%;
    background-color: var(--gray3);

    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .tl-settings form div.input-row {

    font-size: 14px;
    padding:0.7em 0.5em 0.5em 0.4em;
    background-color: #cecece;
  }

  .tl-settings form div.input-row:last-child {
    border-bottom-left-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
  }

  .input-row .label-text {
    font-size: 0.9em;
  }


  .tl-settings form > div fieldset.buttons {
    width: 100%;
    min-height: 6em;
  }

  .tl-settings form > div fieldset.buttons button:first-child {
    margin-right: 1em;
  }

  .tl-scroll {

    flex-grow: 1;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: var(--gray3) var(--gray2);
    scrollbar-width: thin;
  }

  /*
  .tl-header {
    height: 64px;
  }
  */

  .tl-header-menu-btn {

    position: relative;
    float: left;
    margin: 6px -38px -38px 6px;
    z-index: 20;
  }
  
  .tl-header-menu-btn span {
    display: inline-block;
    margin-top: 4px;
    margin-left: 1px;
  }

  .tl-header h4 {

    margin: 0;
    height: auto;
    padding: 0.8em 0.4em 0.6em 0.8em;
    font-size: 1em;
    font-weight: bold;
      
    user-select: none;

    opacity: 0.7;

    background-color: var(--timeline-header-bg);
  }

  .tl-recent-authors {
    
    margin: 0.4em 0.2em 0.3em 0.2em;

    height: 40px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    
    list-style-type: none;
    overflow: hidden;

    transition: 0.2s linear all;
    opacity: 1;
  }
  
  .state-settings-visible .tl-recent-authors {
    
    margin-bottom: 0;
    height: 0px;
    opacity: 0;
  }

  .tl-recent-authors li {

    width: 36px;
    margin: 0.2em 0.2em;
  }

  .tl-recent-authors li button {
    
    width: 32px;
    height: 32px;

    padding: 0;
    overflow: hidden;

    border:1px solid rgba(0, 0, 0, 0.7);
    background-color: transparent;

    border-radius: 16px;
    opacity: 0.7;
    transition: 0.1s linear all;
  }

  .tl-recent-authors li button:hover {
    opacity: 1;
  }

  .tl-recent-authors li button img {
    width: 102%;
    margin: -2px 0px 0px 0px;
  }
  

  .timeline.state-tl-collapsed {
      
    flex: 0 0 40px !important;
    padding: 0px;
    width: 40px;
  }

  .timeline.state-tl-collapsed .tl-scroll {
    display: none !important;
  }

  .timeline.state-tl-collapsed .tl-header  {
    width: 100%;
    height: 100%;
    background-color: var(--timeline-header-bg);
  }

  .timeline.state-tl-collapsed  .tl-header > h4,
  .timeline.state-tl-collapsed  .tl-header > button,
  .timeline.state-tl-collapsed  .tl-header > ul {
    display: none;
  }
  
  .tl-post {

    display: flex;
    flex-flow: column;

    margin: 0.5em 0.5em 0em 0.5em;

    min-height: 64px;

    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    
    background-color: var(--white1);
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.2);
  }

  /*
  .tl-post-header {
    background-color: lime;
  }
  */

  .tl-post h1 {
    margin: 0;
  }

  .tl-post-avatar {

    display: block;
    float: left;

    margin: 0.3em;
    width: 32px;
    height: 32px;

    border-radius: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: var(--gray4);
    overflow: hidden;
  }
  
  .tl-post-avatar img {
    width: 100%;
  }

  .tl-post-emotion {  /* post emoji */
    float: left;
    margin-left: -18px;
    margin-top: 16px;
  }

  .tl-post-details {

    float: left;

    margin: -6px 0px 6px -42px;
    padding: 45px 0px 0px 0px;

    width: 40px;
    height: auto;

    font-size: 0.6em;
    color: var(--gray3);
    text-align: center;
  }

  .tl-post-content {

    padding: 0.4em 1em 0.4em 3.3em;

    margin-top: -57px;

    white-space: pre-line;
    font-family: 'Libre Baskerville', serif;

    line-height: 1.7em;
  }

  .tl-post-footer {
    min-height: 2.3em;
  }

  .tl-post-footer ul {

    display: block;
    float: left;

    margin: 0;
    padding: 0px 0px 0px 50px;

    width:calc(100% - 50px);
    height: 2.8em;

    list-style-type: none;
    overflow: hidden;
  }
  
  .tl-post-footer ul li {
    display: block;
    float: left;
    line-height: 1em;
    margin-right: 0.4em;
    margin-bottom: 1em; /* prevents buttons showing when width is small */
    white-space-collapse: collapse;
  }

  .tl-post-footer ul li button, 
  .tl-post-footer ul li a {

    display: inline-block;

    padding: 0;
    width: 32px;
    height: 32px;

    text-decoration: none;
    text-align: center;
    border:none;
    color:var(--gray3); 
    background-color: transparent;
    overflow: hidden;
    border-radius: 50%;
    
    transition: 0.2s linear background-color;
  }

  .tl-post-footer ul li button.with-label, 
  .tl-post-footer ul li a.with-label {

    width: auto;
    white-space: nowrap;
    padding: 0em 0.4em 0em 0.4em;
    
    border-radius: 16px;
  }

  .tl-post-info {

    width: calc(100% - 4px);
    height: auto;

    max-height: 0;
    overflow: hidden;

    float: left;
    margin: -10px 0px 0px 2px;
    padding: 0;
    font-size: 0.8em;

    background-color: var(--white4);
    border-bottom-right-radius: 16px;
    border:1px solid var(--gray4);

    opacity: 0;
    
    transition: 0.15s ease-out max-height, 
                0.1s linear opacity;
  }

  .state-footer-expanded .tl-post-info {

    float: none;
    padding: 0.4em 1em;
    margin: 0em 0em 0.2em 2px;
    max-height: 100em;
    
    opacity: 1;
    transition: 0.25s ease-in max-height;
  }

  .tl-post-info p {
    line-height: 1.8em;
    margin-bottom: 0.4em;
  }
  
  .tl-post-info p > span:first-child {
    display: inline-block;
    min-width: 9em;
    text-align: right;
    padding-right: 0.2em;
    padding-left: 0.2em;
  }

  .tl-post-info p > span:last-child {
    font-weight: bold;
  }

  .tl-post-info p.multi-row span:last-child {
    vertical-align: text-top;
    display: inline-block;
    width: 50%;
  }

  .tl-post-info p.buttons {
    text-align: center;
    padding: 1em 1em 0.5em 1em;
  }
  .tag {
    padding: 0em 0.6em 0em 0.4em;
    text-align: center;
    font-weight: bold;
    color: var(--white1);
    background-color: var(--gray4);
    border-radius: 0.5em;
  }

  .tl-post-footer .with-label > span:first-child {
    margin-left: 0.3em;
    margin-top: 0.15em;
  }

  .tl-post-footer .with-label > div {

    padding-top: 0.3em;
    font-size: 0.7em !important;
  }

  .tl-post-footer .separator {

    display: none;
    margin: auto;
    min-width: 50%;
    min-height: 1px;

    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 12%, rgba(215,232,232,1) 13%, rgba(255,255,255,0) 100%); 
  }

  .tl-post-footer ul li a:hover, 
  .tl-post-footer ul li button:hover {
    color:var(--white2);
    background-color: var(--gray3) !important;
  }

  .tl-post-footer ul li.button-filled a, 
  .tl-post-footer ul li.button-filled button {
    background-color: var(--white3);
  }

  .tl-post-footer ul li button span, 
  .tl-post-footer ul li a span {
    display: inline-block;
    font-size: 1.1em;
    margin-top: 0.2em;
  }

  .tl-post-footer ul li a span {
    margin-top: 0.4em;
  }

  .tl-post-footer ul li .link-icon {
    rotate: -45deg;
    margin-top: 0.44em;
    margin-left: 0.1em;
  }

  
  .tl-post-footer .count {

    display: inline-block;

    font-size: 0.9em;

    min-height: 32px;
    white-space: nowrap;
  }

  .tl-post-footer .dual-count {

    display: inline-block;
    
    min-width: 3em;
    margin: 0px -4px -6px -4px;

    background-color: var(--white3);
  }

  .tl-post-footer .dual-count > div {

    display: block;
    float: left;

    font-size: 0.9em;


    width: calc(50% - 4px); /* 4 padding */
    min-height: 32px;
    white-space: nowrap;
  }
  
  .tl-post-footer .dual-count > div span {
    padding-top: 0.65em;
    display:inline-block;

    color: var(--gray4);
    font-size: 0.8em;
  }
  
  .tl-post-footer .dual-count > div:first-child {
    text-align: left;
    padding-right: 4px;
  }

  .tl-post-footer .dual-count > div:last-child {
    text-align: right;
    padding-left: 4px;
  }

  .tl-post-footer li.two-buttons button:first-child {
    
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .tl-post-footer li.two-buttons button:last-child {
    
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .tl-post-footer button.expander {

    float: right;
    margin: 0em 0.3em 0.3em -40px;

    width: 32px;
    height: 32px;
    padding: 0;

    border-radius: 100%;
    border-style: none;

    color: var(--gray3);
    background-color: rgba(255, 255, 255, 0);
    overflow: hidden;

    transition: 0.1s linear background-color;
  }
  
  .tl-post-footer .expander:hover {
    background-color: var(--white2);
  }

  .tl-post-footer .expander span {

    position: relative;
    
    top: 4px;
    transition: 0.2s linear rotate, 0.15s linear opacity;
  }
  
  .tl-post-footer .expander span:last-child {
    rotate: 90deg;
    opacity: 0;
    top: -24px;
  }
  
  .state-footer-expanded .expander span:first-child {
    rotate: -90deg;
    opacity: 0;
  }
  
  .state-footer-expanded .expander span:last-child {
    rotate: 0deg;
    opacity: 1;
  }

  .tl-post-confirm {
    width: 100%;
    height: 100%;

    padding: 1em 0.2em 1em 0.2em;
    text-align: center;
    color: var(--white2);

    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.9);
  }
  

  .tl-post-confirm p {
    font-size: 1.1em;
    padding: 1em 0em 0.4em 0em;
  }

  .tl-post-reply {

    display: inline-block;
    
    min-height: 0em;
    max-height: 0;

    margin-top: 0em; /* distance to post window above */
    margin-bottom: 0;
    margin-left:0.7em;  /* 0.5 from .tl-post plus a bit for style */
    margin-right:1.8em;  /* 0.5 from .tl-post plus style */

    width: 91%;
  
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    border-bottom: 1px solid transparent;
    border-right: 1px solid transparent;

    box-shadow: none;

    overflow: hidden;

    background-color: transparent;
    transition: 0.3s linear all;
  }

  .state-post-reply-expanded + .tl-post-reply {

    min-height: 19.0em;
    max-height: 19.0em;
    
    margin-top: 0em; /* distance to post window above */
    margin-bottom: 1em;
    
    border-bottom: 1px solid var(--gray3);
    border-right: 1px solid var(--gray3);

    background-color: var(--gray6);
    box-shadow: 1px 2px 3px rgba(0,0,0,0.15);
  }

  .post-emote {

    float: left;
    position: relative;
    margin-bottom: -100%;
    margin-top: 2em;

    width: 3em;
    z-index: 200;
  }

  .persons-face {
    
    position: sticky;
    width: 100%;
    height: 300px;
    margin-bottom: -300px;

    overflow: hidden;
    mask:url(/assets/images/face-mask.png);
    opacity: 0.3;
    z-index: 100;
  }
  
  .persons-face img {
    margin-top: -10%;
    width: 100%;
  }

  .persons-face img {
    margin-top: -10%;
    width: 100%;
  }
  
  .tl-post-reply form {

    position: relative;

    margin-left: 3.6em;
    margin-bottom: 0;

    padding-top: 3em;
    padding-bottom: 0em;

    width: 100%;

    background-color: transparent;
    width: calc(100% - 3.6em);
    z-index: 200;
  }
  
  .tl-post-reply form legend {

    width: 95%;
    color: var(--gray0);

    font-size: 0.8em;
    text-shadow: 0px 1px 2px rgba(255,255,255,0.7);

    text-align: right;
  }
  
  .tl-post-reply form legend div {

    padding: 0.2em 0.4em;
    border-radius: 0.8em;
  }
  .tl-post-reply form legend div span {

    font-size: 1.4em;
    font-weight: bold;
  }
  
  .tl-post-reply .input-row,
  .tl-post-reply fieldset {

    width: 100%;
  }

  .tl-post-reply form textarea {

    font-family:'Libre Baskerville', serif;
    font-size: 16px;
    line-height: 1.6em;

    color: var(--gray0);
    text-shadow: 0px 1px 2px rgba(255, 255, 255, 1);

    width: 96%;
    height: 10em;

    background-color: rgba(255, 255, 255, 0.6);
  }

  .tl-post-reply form .buttons {

    padding-top: 0.6em;
    text-align: right;
  }

  .tl-post-reply form .buttons button {

    margin:0em 1em;
    opacity: 0.7;
    font-size: 0.8em;
    height: 2.8em;
  }
  
  .tl-post-reply form .buttons button span {
    margin-top: -0.03em !important;
  }

  .tl-post-reply form .buttons button:hover {

    opacity: 1;
  }

  .tl-post-reply form .buttons button[type="submit"] {

    padding-right: 0.2em;
    margin-left: 0;

    border-top-right-radius: 8em;
    border-bottom-right-radius: 8em;

    border-top-left-radius: 1.3em !important;
    border-bottom-left-radius: 1.3em !important;

    transition: 0.2s ease-out all;
    /*
    color: var(--white1);
    font-weight: bold;
    */
  }

  .tl-post-reply form .buttons button[type="submit"]:hover {

    margin-right: 0.7em;
    margin-left: 0.3em;
  }

  ul.post-emotions {

    padding: 0;
    list-style-type: none;

  }
  
  ul.post-emotions {
    
    margin-left: 0.4em;
    margin-top: 3.5em;
    max-height: 13em;
    overflow: hidden;
  }

  ul.post-emotions li {

    text-align: center;
    margin: 0em 0em 0.3em 0em;
    width: 100%;
  }
    
  ul.post-emotions li button {

    margin: 0;
    padding: 0;

    width: 32px;
    height: 32px;
    font-size: 1.2em;

    text-align: center;
    vertical-align: middle;

    background-color: transparent;
    border-radius: 50%;
    border:0px solid rgba(0, 0, 0, 0);

    transition: 0.2s linear all;
  }

  ul.post-emotions li button:hover,
  ul.post-emotions li button.selected {

    background-color: rgba(0, 0, 0, 0.6);
  }
  